{
  "presets": ["babel-preset-expo", "react-native"], 
  "env": {
    "development": {
      "plugins": ["transform-es2015-modules-commonjs", "transform-react-jsx-source"]
    }, 
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "transform-react-jsx-source"]
    }
  }
}
