{
    "plugins": [
        "react"
      ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": {
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 9,
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "no-console": 2,
        "react/prop-types": 0
    }
}